/*CSS for INDEX*/

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*CSS for Service Page*/

.service {
    margin-bottom: 20px;
}

.service h3 {
    color: #333;
}

.service p {
    color: #666;
}

/*CSS for Contact Page*/

form {
    max-width: 600px;
    margin: 20px auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/*About me Section*/

.main-content {
    display: flex;
}

.main-section {
    flex: 1;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me {
    width: 300px;
    margin: 20px;
}

.employee {
    margin-bottom: 20px;
}

.employee img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.employee h3 {
    margin-top: 10px;
    color: #333;
}

.employee p {
    color: #666;
}

/* CSS for quote*/

.quote-section {
    flex: 1; /* Takes remaining space */
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote {
    text-align: center;
}

blockquote {
    font-style: italic;
    color: #333;
}

blockquote p {
    margin-bottom: 10px;
}

blockquote footer {
    color: #666;
}